Package: wb-bolid
Version: 1.0
Architecture: armel
Maintainer: Aleksei Melnik <alexshnup@gmail.com>
Installed-Size: 1343
Depends: libc6 (>= 2.13)
Breaks: wb-mqtt-confed (<< 1.0.2)
Section: misc
Priority: optional
Description: Wiren Board Bolid Controll
